*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: black;
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white-color: #FFFFFF;
  --black-color: #000000;

  --primary-color: #007ACC;
  --secondary-color: #0091EA;

  --primary-hover-color: #005B99;

  --border-color: #FDFDFD;
  --background-color: #F5F5F5;
  
  --success-color: #28B463;
  --error-color: #C0392B;
}