@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.input-field {
  @apply
  p-2
  border-2
  rounded-lg
  focus:outline-none
  text-[var(--black-color)]
  outline-[var(--border-color)]
}

.link {
  @apply
  hover:underline;
}